<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fantastic Frontier Weapons</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Weapons Of The Frontier</h1>
    <div class="button-grid">
      <a href="/category/Magic" class="weapon-button">Magic</a>
      <a href="/category/Melee" class="weapon-button">Melee</a>
      <a href="/category/Ranged" class="weapon-button">Ranged</a>
    </div>
  </div>
</body>
</html>