<!-- templates/magic.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Melee Weapons</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Melee Weapons</h1>
    <ul class = "weapon-list">
      {% for weapon in weapons %}
        <li>
          <img
            src="{{ url_for('static', filename='images/melee/' ~ weapon[0]) }}"
            alt="{{ weapon[1] }}"
            class="weapon-image"
            width="100"
            height="100"
          >
          <span>{{ weapon[1] }}</span>
        </li>
      {% endfor %}
    </ul>
    <a href="/" class="weapon-button">Back to Home</a>
  </div>
</body>
</html>